body {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-size: cover;

}

header {
    padding: 20px;
    text-align: center;
    color: white;
    background: rgb(41, 122, 56);
    background: linear-gradient(90deg, rgba(41, 122, 56, 1) 0%, rgba(64, 184, 55, 1) 30%, rgba(51, 188, 208, 1) 60%, rgba(16, 0, 255, 1) 100%);

}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;

}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255, 255, 255);
}

/* background: rgb(41, 122, 56);
background: linear-gradient(90deg, rgba(41, 122, 56, 1) 0%, rgba(64, 184, 55, 1) 30%, rgba(51, 188, 208, 1) 60%, rgba(16, 0, 255, 1) 100%);
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #297a38;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.toggle-btn {
    cursor: pointer;
    color: #000000;
}

.btn-toggled {
    background-color: green;
    color: white;
}



.border-color {
    --bs-border-opacity: 1;
    border-color: linear-gradient(rgba(41, 122, 56, 1) 0%, rgba(64, 184, 55, 1) 30%, rgba(51, 188, 208, 1) 60%, rgba(16, 0, 255, 1) 100%) !important;
    /* ci sto provando ma non fa niente */
}

.icon {
    float: left;
    margin-right: 10px;
}

.cc {
    background: -webkit-linear-gradient(-90deg, rgba(41, 122, 56, 1), rgba(51, 188, 208, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-1 {
    background-image: linear-gradient(to bottom, rgba(64, 184, 55, 1) 0%, rgba(51, 188, 208, 1) 100%);
}

.btn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

/* Timeline [from https://bbbootstrap.com/snippets/basic-timeline-for-users-without-avatar-37843493] */

.timeline {
    position: relative;
    border-color: rgba(160, 175, 185, .15);
    padding: 0;
    margin: 0
}

.tl-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex
}

.tl-item>* {
    padding: 10px
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-item:last-child .tl-dot:after {
    display: none
}

.tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    inline-size: 10px;
    block-size: 10px;
    inset-block-start: 15px;
    inset-inline-start: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    inline-size: 0;
    block-size: auto;
    inset-block-start: 25px;
    inset-block-end: -15px;
    border-inline-end-width: 0;
    border-block-start-width: 0;
    border-block-end-width: 0;
    border-radius: 0
}

tl-item.active .tl-dot:before {
    border-color: #448bff;
    box-shadow: 0 0 0 4px rgba(68, 139, 255, .2)
}

.tl-dot {
    position: relative;
    border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    inline-size: 10px;
    block-size: 10px;
    inset-block-start: 15px;
    inset-inline-start: 50%;
    transform: translateX(-50%)
}

.tl-dot:after {
    inline-size: 0;
    block-size: auto;
    inset-block-start: 25px;
    inset-block-end: -15px;
    border-inline-end-width: 0;
    border-block-start-width: 0;
    border-block-end-width: 0;
    border-radius: 0
}

.tl-content p:last-child {
    margin-block-end: 0
}

.tl-date {
    font-size: .85em;
    margin-block-start: 2px;
    min-inline-size: 100px;
}

.b-warning {
    border-color: #f4c414 !important;
}

.b-success {
    border-color: #167347 !important;
}

.b-danger {
    border-color: #f54394 !important;
}

